# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
*.env

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Static and media files (if collected/generated)
staticfiles/
media/

# VS Code
.vscode/

# MacOS
.DS_Store

# Coverage/test reports
htmlcov/
.coverage
.tox/
.nox/
*.cover
*.py,cover

# MyPy/Pylint
.mypy_cache/
.pytest_cache/
